.profile-page-image__profile {
    width: 30%;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
}

.image_likes_comments__profile {
    width: 100%;
    height: 150px;
    visibility: collapse;
    display: flex;
    background-color: rgba(0, 0, 0, 0.479);
}

.profile-page-image__profile:hover .image_likes_comments__profile {
    cursor: pointer;
    visibility: visible;
}

#modal-content {
    border-radius: 5px;
    width: 950px;
    max-width: 95%;
}

.exit-bar__image_upload {
    height: 50px;
    border-bottom: 1px solid rgb(182, 182, 182);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header__image_upload {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}

.fa-window-close,
.fa-image,
.fa-arrow-left {
    font-size: 28px;
    color: rgb(73, 73, 73);
}

.fa-window-close {
    padding-right: 20px;
}

.fa-image,
.fa-arrow-left {
    padding-left: 20px;
}

.fa-arrow-left {
    font-size: 20px;
}

.fa-window-close:hover,
.fa-arrow-left:hover {
    cursor: pointer;
}

.fa-images {
    font-size: 50px;
    color: grey;
    margin-bottom: 50px;
}

.container__image_upload {
    width: 935px;
    height: 550px;
    max-width: 100%;
    display: flex;
}

.image-select-container__image_upload {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.select-button__image_upload,
.share-button__image_upload {
    color: white;
    cursor: pointer;
    border: none;
    background-color: #24a0ed;
    width: 240px;
    height: 30px;
    font-weight: 600;
    border-radius: 5px;
}

.image-post-container__image_upload {
    justify-content: space-between;
}

.display-container__image_upload {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-to-upload__image_upload {
    max-width: 85%;
    max-height: 85%;
}

.caption-share-container__image_upload {
    width: 35%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-left: 1px solid rgb(182, 182, 182);
}

.share-container-user-info__image_upload {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.share-container-user-info__image_upload p {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}

.user-profile-thumb__image_upload {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

.caption-share-form__image_upload {
    height: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.share-button-container__image_upload {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.share-button__image_upload {
    width: 100%;
}

.image-caption-container__image_upload {
    height: 50%;
}

.caption-input__image_upload {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    resize: none;
}

.caption-input__image_upload:focus {
    /* border: 1px solid grey; */
    outline: none !important;
}

@media screen and (max-width: 535px) {
    .image-post-container__image_upload {
        flex-direction: column;
    }

    .display-container__image_upload {
        margin: 0 auto;
        height: 50%;
    }

    .caption-share-container__image_upload {
        height: 50%;
        width: 100%;
    }
    .select-button__image_upload,
    .share-button__image_upload {
        max-width: 100%;
    }

    .image-select-container__image_upload div {
        max-width: 90%;
    }
}
