.feed-container{
    border: 1px solid black;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.feed-subcontainer{
    border: 1px solid black;
    margin-top: 45px;

}

.image-container{
    border: 1px solid green;
    display: block;
    margin: 50px 100px;
    max-width: 600px;
    max-height: 800px;
    min-height: 799px;
}

.image-top-padding{
    width:100%;
    height: 60px;
    border: 1px solid black;
    /* background-color: aquamarine; */
}

.profile-picture__feed{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 12px;
    margin-left: 10px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-username__feed{
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    margin-top: 20px;
    font-weight: 500;
    font-size: 15px;
}

.feed-profile__link{
    text-decoration: none;
    color: black;
}

.image-container__image{
    width:100%;
    height: 600px;
    /* border: 1px solid black; */
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}

.caption-comment-container{
     border: 1px solid pink;
     width:100%;
     height: 40px;
}

.like-button-container{
    text-align: center;
    height: 30px;
    width: 30px;
    margin-top: 6px;
    margin-left: 10px;
    display: inline-block;
}

.fa-heart{
    font-size: 24px;
    cursor: pointer;
}

.fa-comment{
    font-size: 24px;
    cursor: pointer;
}

