.feed-container {
    padding: 90px 10px 0px 10px;
    display: flex;
    justify-content: space-between;
    width: 1025px;
    max-width: 90%;
    margin: 0 auto;
}

.feed-subcontainer{
    /* padding-top: 45px; */
}

.image-container{
    border: 1px solid #D4D4D4;
    display: block;
    max-width: 600px;
    height: 800px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.feed-suggested-user-container {
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
}

.image-top-padding {
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-top-padding .fa-ellipsis-h {
    margin-right: 15px;
}

.profile-picture__feed{
    border: 1px solid #D4D4D4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 15px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile-info__feed {
    display: flex;
    align-items: center;
}

.profile-username__feed{
    display: inline-block;
    margin-left: 15px;
    vertical-align: top;
    font-weight: 500;
    font-size: 15px;
}

.feed-profile__link{
    text-decoration: none;
    color: black;
}

.image-container__feed{
    width:100%;
    height: 600px;
    /* border: 1px solid black; */
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
}

.like-comment-container__feed{
width:100%;
}

.caption-container__feed p {
    margin: 0 15px;
    text-align: center;
}

.fa-heart{
font-size: 24px;
cursor: pointer;
}

.fa-comment{
font-size: 24px;
cursor: pointer;
}

.three-image-container{
width: 19px;
height: 19px;
border-radius: 50%;
display: inline-block;
margin-left: 10px;
margin-top: 2px;
background-size: 150%;
background-repeat: no-repeat;
background-position: center;
}
