.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  height: 54px;
  position: fixed;
  margin-bottom: 55px;
  top: 0;
}

.inner-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 54px;
  max-width: 975px;
  padding: 0 20px;
  width: 100%;
  z-index: 10;
}

.nav-logo {
  font-family: "Billabong", sans-serif;
  font-size: 30px;
  align-self: center;
  justify-self: center;
}

.search-bar-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar {
  width: 145px;
  height: 20px;
  display: flex;
  justify-content: center;
}

.right-side-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.right-side-nav > * {
  display: flex;
  margin-left: 20px;
}
.nav-profile-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 45px;
  right: 250px;
}
.nav-profile-dropdown > li {
  text-decoration: none;
  list-style: none;
}
