#modal-content{
    max-width:450px;
}

.users-who-liked-container{
    width: 100%;
    height: 100%;
    max-height: 400px;
    min-height: 200px;
    overflow: scroll;
    font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.users-who-liked-loading{
    display: block;
    height: 50px;
    width: 100%;
}

.top-menu{
    display:block;
    height: 30px;
    width: 450px;
    margin-top: 10px;
    position: fixed;
    border-bottom: 1px solid #D4D4D4;
    border-radius: 5px;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    font-family:'Roboto',sans-serif;
}

.modal-profile-pic{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 8px;
    margin-left: 10px;
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-profile-username{
    display: inline-block;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 15px;
    vertical-align: top;
    font-weight: 500;
    font-size: 15px;
}
